



.header{
    background-color: rgb(53, 95, 134);
    padding: 20px;
    text-align: center;
}


.navigation{
    text-align: center;
    background-color: rgb(82, 200, 236);
    padding: 4px;
    overflow:visible
}

img{
    margin-left: 650px ;

}

p{
    color: paleturquoise;
    text-align: left;
    font-size: 14;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: slategray;

}

